<%- include ('includes/nav.ejs'); -%>
<div class="ml-auto mr-auto col-md-6">
    <h1 class="text-primary my-5">Register Teachers</h1>
    <form method="post" action="/add_teacher">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <button type="submit" class="btn btn-primary px-5">Submit</button>
    </form>
</div>
</body>
</html>
