<%- include ('includes/nav.ejs'); -%>
<div class="ml-auto mr-auto col-md-6">
    <h1 class="text-primary my-5">Create A Schedule</h1>
    <form method="post" action="/create_schedule">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="code">Subject Code</label>
                <select class="form-control" id="code">
                    <option>--code--</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="name">Teacher's Name</label>
                <select class="form-control" id="name">
                    <option>--name--</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block px-5">Submit</button>
    </form>
</div>
</body>
</html>
